{% extends 'navigation.html' %}
{% block about %}
    <style>
        .info{
            background-color: #e0cfca;
            width: 70%;
            height: 70%;
            margin-top: 150px;
            margin-inline: 50px;
            margin-bottom: 50px;
            padding: 50px;
            align-self: center;
            box-shadow: 0 0 50px rgba(131, 98, 98, 0.5);
        }
        .info-content{
            font-size: 24px;
            font-family: 'Lucida Grande', Arial, sans-serif;
            justify-content: center;
        }
        .info-content li{
            margin-top: 10px;
            list-style-type: none;
            font-size: 16px;
        }
        .about{
            padding: 20px;
            font-size: 20px;
            line-height: 1.6;
        }
    </style>
    <div class="info">
        <div class="info-content">
            <ul>
                <li>
                    <div class="about">
                    <h1 style="text-align: center">Про нас</h1>
                    <p>Ласкаво просимо! Ми - ваше надійне джерело інформації та ділових новин, призначене надати вам точну, своєчасну та об'єктивну інформацію про події, які формують наш світ.</p>
                    <p>Наша команда складається з висококваліфікованих журналістів, редакторів та аналітиків з багаторічним досвідом у сфері масової інформації. Ми прагнемо забезпечити вас найактуальнішою інформацією з усіх сфер життя - від політики та економіки до культури та науки.</p>
                    <p>Наша місія полягає в тому, щоб забезпечити вас збалансованою та об'єктивною інформацією, яка допоможе вам краще розуміти складні ситуації та приймати обдумані рішення. Ми прагнемо бути вашими партнерами у світі новин, завжди готові поділитися з вами найцікавішими та найважливішими подіями.</p>
                    <p>Нехай наша спільна подорож світом новин буде цікавою, пізнавальною та плідною! Дякуємо за ваш інтерес до нашої роботи, і ми завжди відкриті до вашого фідбеку та пропозицій.</p>
        </div>
                </li>
                <li>
                    Телефон: +380964118535
                </li>
                <li>
                    Електронна пошта: maximonis13@gmail.com
                </li>
            </ul>
        </div>
    </div>
{% endblock %}